@model BotaniFinder.Models.PlantIdentificationResult

@*@{
    ViewData["Title"] = "Index";
}*@

<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<head>
    <title>Plant Identification App</title>
</head>
<body>
    <div class="header">
        <h1>Plant Identification App</h1>
        <p>Identify plants quickly and easily with our app!</p>
    </div>
    
    <div class="features">
        <h2>Features:</h2>
        <ul>
            <li>Identify plants from images, with a confidence rating.</li>
            <li>See other plants that have been recently identified by other users</li>
        </ul>
    </div>
    
    <div class="how-it-works">
        <h2>How It Works:</h2>
        <p>Our app uses advanced image recognition technology to identify plants based on images you upload.</p>
    </div>
    
    <div class="about-us">
        <h2>About Us:</h2>
        <p>Plant enthusiast and and software developer student, trying to make everyday applications that help.</p>
    </div>
    
</body>
</html>

