@model BotaniFinder.Models.PlantIdentificationResult

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>BotaniFinder, for plant identification</title>
    <style>
        body {
            background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-lavender-simple-rose-texture-image_28475.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1, h2, h3 {
            font-family:Verdana;
            font-variant:normal;     }

        .indent {
            margin-left:30px;
        }
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Plant Identification App</h1>
        <p class="indent">Identify plants quickly and easily with our app!</p>
    </div>

    <div class="features">
        <h2>Instructions:</h2>
            <p class="indent">Under the "ID Your Plants"" tab, use the "Choose File" button to select a locally saved image file from your device. Press the "Submit This Image" button to send your image to the API for Identification. 
                The application will return the top 3 matched results with confidence scores as well as the logged photos of the plant for comparison. The image you submitted will not be entered into the database, the top match for your plant identification is what will be submitted and displayed at the bottom of the "Previously Identified Plants" tab.  </p>
    </div>

    <div class="how-it-works">
        <h2>How It Works:</h2>
        <p class ="indent">Our app uses advanced image recognition technology provided by the Pl@ntNet API to identify plants based on images you upload.</p>
    </div>

    <div class="about-us">
        <h2>About Us:</h2>
        <p class="indent">Khyrstina is a software developer with a love for space exploration, along with the science and technology that goes into it.  You can usually find her 3D printing, testing the limits of what an Arduino can do, and creating art inspired by space.</p>
    </div>

</body>
</html>
