@model BotaniFinder.Models.PlantIdentificationResult

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>BotaniFinder, for plant identification</title>
    <style>
        body {
            background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-lavender-simple-rose-texture-image_28475.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1, h2, h3 {
            font-family:Verdana;
            font-variant:normal;     }

        .about-us, .how-it-works, .features {
            margin-left: 20px;
        }

        .indent {
            margin-left:30px;
        }
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Plant Identification App</h1>
        <p class="indent">Identify plants quickly and easily with our app!</p>
    </div>

    <div class="features">
        <h2>Features:</h2>
            <p class="indent">Identify plants from images, with a confidence rating as well as see other plants that have been recently identified by other users</p>
    </div>

    <div class="how-it-works">
        <h2>How It Works:</h2>
        <p class ="indent">Our app uses advanced image recognition technology to identify plants based on images you upload.</p>
    </div>

    <div class="about-us">
        <h2>About Us:</h2>
        <p class ="indent">Plant enthusiast and and software developer student, trying to make everyday applications that help.</p>
    </div>

</body>
</html>
