@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-lavender-simple-rose-texture-image_28475.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h2, h3 {
        font-family: Verdana;
        font-variant: normal;
    }
</style>
<center>
    <h1>Helpful Links</h1>
</center>
<h2>Resources:</h2>
<p> You can find out more about the Pl@ntNet API <a href="https://my.plantnet.org/">here.</a></p>
<h2>Developer:</h2>
<p> <a href="https://github.com/Khyrstina">This is my Github Profile.</a></p>
<p> <a href="https://www.linkedin.com/in/khyrstina-smith-1aaa03117/">This is my LinkedIn Profile.</a></p>